/* Font */
html {
    font-family: Roboto, sans-serif;
}

/* Immagine di background */
body {
    background-image: url("background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

/* Contenitore principale con trasparenza */
.mainDiv {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 2% 18%;
    padding: 3% 7%;
}

/* Intestazione con logo e slogan */
header {
    text-align: center;
}
header img {
    width: 20%;
}
header h2 {
    color: rgb(33, 235, 31);
    font-size: 20px;
    margin: 10px 0;
}

/* Comandi monopattino */
nav {
    background-color: rgb(33, 235, 31);
    text-align: center;
    padding: 3px;
}
nav button {
    border-radius: 5px;
}

/*Contenitore monopattini a disposizione */
main {
    color: white;
}

/* Informazioni monopattino */
section {
    margin-top: 20px;
}
.scooterSelection {
    margin: 0 0 1%;
}
.scooterName {
    font-size: 15px;
    display: inline-block;
    margin: 0;
}
.scooterInfo {
    font-size: 10px;
    margin: 0 0 0.5%;
}
.chargingState {
    height: 25px;
    border-radius: 5px;
}
.chargingState.Hight {
    width: 60%;
    background-color: green;
}
.chargingState.Medium {
    width: 30%;
    background-color: orange;
}
.chargingState.Low {
    width: 15%;
    background-color: red;
}
